@model IEnumerable<Data.Models.Course>

@{
    ViewData["Title"] = "Courses Management";
}

<h1>Courses Management</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Course</a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                Supervisor
            </th>
            <th>
                Exams
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @item.DateTime.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @{
                        var supervisorName = item.superVisor != null ?
                        $"{item.superVisor.FirstName} {item.superVisor.LastName}" :
                        "Not Assigned";
                    }
                    @supervisorName
                </td>
                <td>
                    @(item.Exams?.Count ?? 0)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                  @*   <a asp-action="Create" asp-controller="Exams" asp-route-courseId="@item.Id" class="btn btn-sm btn-success">Add Exam</a> *@
                    <a asp-action="GetCourseExams" asp-route-courseId="@item.Id" class="btn btn-sm btn-outline-warning"><i class="fas fa-file-alt"></i> View Exams</a>

                </td>
            </tr>
        }
    </tbody>
</table>